MCCCS/main/example_data/*
MCCCS/main/lib/bio.jar
MCCCS/main/lib/bioformats_package.jar
MCCCS/main/lib/common-extension-lib-2.1.0.jar
MCCCS/main/lib/iap.jar
MCCCS/main/lib/jfeaturelib.jar
MCCCS/main/lib/weka.jar
MCCCS/main/lib/weka/weka-3-6-12.zip
MCCCS/main/lib/weka/weka.zip
MCCCS/main/mcccs.jar
MCCCS/main/example_scripts/v2/~$flow.pptx
MCCCS/main/example_scripts/v2/flow.pptx
MCCCS/main/example_scripts/v2/__pycache__/MemoryStream.cpython-34.pyc
MCCCS/main/example_scripts/v2/__pycache__/tifffile.cpython-34.pyc
MCCCS/main/example_scripts/v2/test/hsv_1_s.tif
MCCCS/main/example_scripts/v2/test/c0_red.tif
MCCCS/main/example_scripts/v2/test/c1_green.tif
MCCCS/main/example_scripts/v2/test/c2_blue.tif
MCCCS/main/example_scripts/v2/test/hsv_0_h.tif
MCCCS/main/example_scripts/v2/test/hsv_2_v.tif
MCCCS/main/example_scripts/v2/test/lab_0_l.tif
MCCCS/main/example_scripts/v2/test/lab_1_a.tif
MCCCS/main/example_scripts/v2/test/lab_2_b.tif
MCCCS/main/example_scripts/v2/test/xyz_1_y.tif
MCCCS/main/example_scripts/v2/test/xyz_0_x.tif
MCCCS/main/example_scripts/v2/test/xyz_2_z.tif
MCCCS/main/example_scripts/v2/test/plant001_rgb.png
